@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
*{
  font-family: roboto;
}

body {
  background-color: #1b1b1b;
}
.seccion_principal{
  position: relative;
  height: 700px;
}
.menu_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    position: relative;
    background-color: transparent;
    z-index: 10;
    padding-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
}

.menu_nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu_nav img{
    width: 140px;
}

.menu_nav li {
  float: left;
  margin-right: 40px;
}

.menu_nav li a {
  font-size: 20px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu_nav li a:hover:not(.active) {
  background-color: #111;
}
.menu_nav button{
    color: white;
    background-color: orange;
    padding: 14px 16px;
    font-weight: bold;
    border: none;
}


.auto_redes {
  position: fixed;
  z-index: 11;
  display: flex;
  left: 40px;
  top: 150px;
  flex-direction: column;
  row-gap: 120px;
}

.auto_redes img {
  width: 30px;
  fill: #fff;
}


* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}
.auto_titulo {
    z-index: 10;
    padding-left: 170px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 240px;
    left: 0;
}
.auto_titulo p{
  margin: 0;
}
.auto_titulo p.subtitulo{
    color: white;
    font-size: 55px;
    font-weight: bold;
   
}
.auto_titulo p.marca{
  margin-top: 30px;
  color: white;
  font-size: 20px;
  
}
.auto_titulo p.precio{
  margin-top: 20px;
  color: #717171;
  font-size: 15px;
}
.auto_titulo p.precio span{
  color:orange;
  font-weight: bold;
}
.auto_titulo button:hover {
  background-color: #3333336b;
  color: rgba(255, 204, 0, 0.527);
}
.auto_titulo button {
  margin-top: 50px;
  text-align: center;
  font-size: 15px;
  color: white;
  padding: 10px 20px;
  border-radius: 2px;
  width: 150px;
  border: 1px solid orange;
  background-color: transparent;
  transition-duration: 0.4s;
}



.rectangulo{
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 240px;
    background-color: orange;
}

/* Slideshow container */
.slideshow-container {
  max-width: 70%;
  position: absolute;
  top: 0;
  right: 0;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  background-color: #ffffff00;
  cursor: pointer;
  display: inline-block;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: #717171;
}

/* The dots/bullets/indicators */
.navigator {
  background-color: #ffffff00;
  position: absolute;
  bottom: 80px;
  left: 40%;
}
.dot {
  cursor: pointer;
  height: 3px;
  width: 25px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next {
    font-size: 11px;
  }
}

.banner{
  margin-top: 120px;
  position: relative;
  display: flex;
      align-items: center;
      justify-content: center;
    overflow: hidden;
}
.banner img{
  opacity: 0.1;

}
.banner p span{
  font-size: 60px;
  color: white;
  font-weight: bold;
  letter-spacing: 9px;
}
.banner p{
  position: absolute;
  color: #b3b3b3;
  font-size: 17px;
  text-align: left;
  margin-left: 10%;
  margin-right: 30%;
}
.banner button:hover {
  color: rgba(255, 204, 0, 0.527);
}
.banner button {
  text-align: center;
  font-size: 15px;
  color: white;
  padding: 10px 20px;
  border-radius: 2px;
  width: 150px;
  border: 1px solid orange;
  background-color: transparent;
  transition-duration: 0.4s;
}

.modelos{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 100px;
  margin-bottom: 100px;
  overflow: hidden;
}
.modelos .letra-fondo{
  font-size: 350px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  position: absolute;
  top: 0;
  /* white-space: nowrap; */
  text-align: center;
  opacity: 0.15;
}
.modelos .carta{
  z-index: 10;
  margin-top: 50px;
  margin-right: 40px;
  width: 400px;
}
.modelos .titulo{
  font-size: 20px;
  color: white;
  font-weight: 900;
  text-align: center;
  margin-bottom: 0px;
}
.modelos .subtitulo{
  font-size: 20px;
  color: #717171;
  font-weight: bolder;
  text-align: center;
  margin-top: 0px;
}
.modelos img{
  width: 100%;
}
.modelos .oferta{
  display: flex;
  flex-direction: row;
}


.oferta{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.oferta p{
  color: #717171;
    font-size: 15px;
    font-weight: bold;
}
.oferta p span{
  color: orange;
}
.oferta button:hover {
  background-color: #3333336b;
  color: rgba(255, 204, 0, 0.527);
}
.oferta button {
  margin-left: 20px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: orange;
  padding: 10px 20px;
  border: none;
  width: 150px;
  background-color: transparent;
  transition-duration: 0.4s;
}

.servicio .servicio_intro{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
}
.servicio .servicio_intro  img{
  width: 60%;
}


.servicio .servicio_intro .servicio_intro_texto .area{
  width: 80px;
  height: 270px;
  background-color: orange;
  z-index: 5;
  position: absolute;
  left: -40px;
  top: -80px;
}
.servicio .servicio_intro .servicio_intro_texto{
  display: flex;
  flex-direction: column;
  position: relative;
}
.servicio .servicio_intro .servicio_intro_texto p{
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  z-index: 10;
}
.servicio .servicio_intro .servicio_intro_texto button:hover {
  background-color: #3333336b;
  color: rgba(255, 204, 0, 0.527);
}
.servicio .servicio_intro .servicio_intro_texto button {
  z-index: 10;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: orange;
  padding: 10px 20px;
  border: none;
  width: 150px;
  background-color: transparent;
  transition-duration: 0.4s;
  margin-left: 50px;
}


.servicio .servicio_detalle .servicio_detalle_texto{
  display: flex;
  flex-direction: column;
}
.servicio .servicio_detalle .servicio_detalle_texto .titulo{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
  /* margin: 0; */
}
.servicio .servicio_detalle .servicio_detalle_texto .detalle{
  line-height:30px;
  color: #b3b3b3;
  font-size: 17px;
  text-align: left;
  /* margin-left: 10%; */
}
.servicio .servicio_detalle .servicio_detalle_texto{
  padding-top: 100px;
  padding-left: 150px;
  padding-right: 100px;
}
.servicio .servicio_detalle .servicio_detalle_texto p{
  color: white;
}
.servicio .servicio_detalle{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: -80px;
  }
  .servicio .servicio_detalle  img{
    width: 50%;
  }
  .servicio .servicio_detalle .servicio_detalle_iconos{
    display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  }
  .servicio .servicio_detalle .servicio_detalle_iconos img{
    width: 30px;
  }
  footer{
    padding-top: 200px;
    position: relative;
    overflow: hidden;
    
  }
  footer .datos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   
  }
  footer .datos img{
    width: 250px;
    z-index: 11;
  }
  footer .datos .info{
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 900;
    font-size: 15px;
    z-index: 11;
  }
  footer .datos form{
    display: flex;
    flex-direction: row;
    z-index: 11;
  }
  footer .datos form div{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 5px;
  }
  footer .datos form div input{
    height: 50px;
    background-color: transparent;
    color: #717171;
    border: #474747 solid 1px;
    margin-bottom: 5px;
  }
  footer .datos form div textarea{
    height: 105px;
    border: #474747 solid 1px;
    background-color: transparent;
    color: #717171;
    margin-bottom: 5px;
  }
  footer .datos form div button{
    text-align: center;
    height: 50px;
    font-size: 15px;
    color: white;
    padding: 10px 20px;
    border-radius: 2px;
    border: 1px solid orange;
    background-color: orange;
    transition-duration: 0.4s;
    
  }
  footer  .privacidad{
    margin-top: 40px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    
  }
  footer  .privacidad p{
    color: #474747;
    font-size: 15px;
    z-index: 11;
  }
  footer .letra-fondo{
    font-size: 350px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    position: absolute;
    white-space: nowrap;
    text-align: center;
    opacity: 0.15;
    margin: 0;
    top: 60px;
  }